<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>

  <div class="page-wrapper">

    <%- include('../partials/header.ejs')%>

    <div class="body-wrapper">
      <div class="sidebar-layout">
        <aside class="side-content">
          side
        </aside>

        <main class="page-body">
          <%- body %>
        </main>
      </div>
    </div>

    <%- include('../partials/footer.ejs')%>
  </div>
</body>

</html>