<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="stylesheet" href="./css/main.css">
</head>

<body>

  <div class="page-wrapper">

    <h1>Index.ejs Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat rerum id commodi, quibusdam error iure aperiam vel, illum a itaque rem aliquid unde eos adipisci distinctio. Et, natus ipsa! Nam.</p>
    <ul>
      <li>test</li>
      <li>test</li>
      <li>test</li>
      <li>test</li>
    </ul>

    <main class="page-body">

    </main>

  </div>
</body>

</html>